<?xml version="1.0"?>
<config>
  
    <modules>
        <Mycloset_Membership>
            <version>1.1.0</version>
        </Mycloset_Membership>
    </modules>
  
    <adminhtml>
        <layout>
            <updates>
                <mycloset_membership>
                    <file>mycloset_membership_admin.xml</file>
                </mycloset_membership>
            </updates>
        </layout>
<!--          <events>
            <adminhtml_customer_prepare_save>
                <observers>
                     <mycloset_membership>
                        <class>mycloset_membership/adminhtml_observer</class>
                        <method>checkPickupAddress</method>
                   </mycloset_membership>
                </observers>
            </adminhtml_customer_prepare_save>
        </events>-->
    </adminhtml>    
    
    <admin>
        <routers>
            <membership>
                <use>admin</use>
                <args>
                    <module>Mycloset_Membership</module>
                    <frontName>mycloset</frontName>
                </args>
            </membership>
            
            <adminhtml>
            <args>
                <modules>
                    <mycloset_membership before="Mage_Adminhtml">Mycloset_Membership_Adminhtml</mycloset_membership >
                </modules>
            </args>
        </adminhtml> 
        </routers>
    </admin>
    
    <global>
        <helpers>
            <mycloset_membership>
                <class>Mycloset_Membership_Helper</class>
            </mycloset_membership>
        </helpers>
        
        
        <models>
            <membership>
                <class>Mycloset_Membership_Model</class>
                <resourceModel>membership_mysql4</resourceModel>
            </membership>
            
            <membership_mysql4>
                <class>Mycloset_Membership_Model_Mysql4</class>
                <entities>
                    <membership>
                        <table>mycloset_membership</table>
                    </membership>
                    <cardtypes>
                        <table>mycloset_cardtypes</table>
                    </cardtypes>
                    <payment>
                        <table>mycloset_payment</table>
                    </payment>
                    <paymenthistory>
                        <table>mycloset_payment_history</table>
                    </paymenthistory>
                    <chosenservices>
                        <table>mycloset_chosen_services</table>
                    </chosenservices>
                      <pickupdetails>
                        <table>pickup_details</table>
                    </pickupdetails>
                    <customermembership>
                        <table>mycloset_customer_membership</table>
                    </customermembership>
                    <membershiphistory>
                        <table>mycloset_membership_history</table>
                    </membershiphistory>
                </entities>
            </membership_mysql4>
            <directory>
                <rewrite>
                    <currency>Mycloset_Membership_Model_currency</currency>
                </rewrite>
            </directory>
            <catalog>
                  <rewrite>
                    <product>Mycloset_Membership_Model_Product</product>
                </rewrite>
            </catalog>
            <customer_resource>
                    <rewrite>
                 <customer>Mycloset_Membership_Model_Resource_Customer</customer>
                </rewrite>
               </customer_resource>
            <mycloset_membership>
                <class>Mycloset_Membership_Model</class>
            </mycloset_membership>
            <checkout>
               <rewrite>
            <type_onepage>Mycloset_Membership_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models> 
        
        <blocks> 
            <membership> 
                <class>Mycloset_Membership_Block</class> 
            </membership>
<!--              <adminhtml>
                <rewrite>
                    <customer_edit_tab_addresses>Mycloset_Membership_Block_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
                </rewrite>
            </adminhtml>-->
<!--            <checkout>
                <rewrite>
                    <onepage>Mycloset_Membership_Block_Checkout_Onepage</onepage>
                </rewrite>-->
<!--                 <rewrite>
            <test_cart> This can be any unique id 
                <from><![CDATA[#^/checkout/onepage/#]]></from>   the URL which u want to override
                <to>/membership/onepage/</to>   destination url 
            </test_cart>
        </rewrite>-->
<!--            </checkout>-->
        </blocks> 
    
        <resources>
            <mycloset_membership_setup>
                <setup>
                    <module>Mycloset_Membership</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </mycloset_membership_setup>
            
        
            <mycloset_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mycloset_write>
            
            <mycloset_read> 
                <connection>
                    <use>core_read</use>
                </connection>
            </mycloset_read>
     
            
        </resources>
        
 
    </global>    
    <frontend>
        
        <routers>
          
               
            
            <customer>
                <use>standard</use>
                <args>
                    <module>Mycloset_Membership</module>
                    <frontName>membership</frontName>              
                </args> 
            </customer>
            
<!--     <checkout>
            <args>
                <modules>
                <Mycloset_Membership before="Mage_Checkout">Mycloset_Membership</Mycloset_Membership>
                </modules>
            </args>
        </checkout>-->
            <membership>
                <use>standard</use>
                <args>
                    <module>Mycloset_Membership</module>
                    <frontName>mycloset</frontName>              
                </args>
            </membership> 
        
            <customer> 
                <rewrite>
                    <account> 
                        <to>membership/account</to> 
                        <override_actions>true</override_actions>                   
                    </account>
                </rewrite>
            </customer>
            
            
            
        </routers>
        
        <layout>
            <updates>
                <mycloset_membership>
                    <file>mycloset_membership.xml</file>
                </mycloset_membership>
            </updates>
        </layout>
        
        
        <translate>
            <modules>
                <Mycloset_Membership>
                    <files>
                        <default>mycloset_membership.csv</default>
                    </files>
                </Mycloset_Membership>
            </modules>
        </translate>
    </frontend>
    
    <default>
        <membership>
            <general>
                <text_field></text_field>
                <dropdown></dropdown>
            </general>
        </membership>
    </default>

    
</config>




   

