downloader/
errors/
includes/
js/
lib/
media/
nbproject/
pkginfo/
shell/
skin/frontend/base/
skin/frontend/default/
skin/frontend/rwd/
skin/frontend/mycloset/default/images/
skin/frontend/mycloset/default/fonts/
skin/install/
var/
.htaccess
.htaccess.sample
cron.php
cron.sh
downloader.php
favicon.ico
get.php
index.php
test.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
magento-downloader-1.7.0.0.zip
package.xml
php.ini.sample
RELEASE_NOTES.txt
app/code/core/
app/locale/
skin/frontend/mycloset/default/images/
skin/frontend/mycloset/default/fonts/
skin/install/
app/code/local/Usergroup
blog/
app/code/community/
app/design/frontend/base/
app/design/frontend/default/
app/design/frontend/rwd/
app/design/install/
app/.htaccess
app/etc/
app/Mage.php
/api.php
app/bootstrap.php
cgi-bin/
PHP/
smtp/
modman
index_BACK.php
index_DDD.php
composer.json
email.php
authorizenet.txt
README.md
readme.txt
robots.txt